
// MEDIA

$media-break: 720px;

// Dashboard

$dashboard_menu-width: 270px;

$dashboard_menu-width-min: 50px;

$popup_height: 700px;

$popup_box_width: 500px;

$popup_box_width-minified: 250px;

$dashboard_header-height: 60px;

// Popup

$popupMenuWidth: 180px;

$popupMenuWidth-min: 50px;